<div class="categories-products-page-container">
    <div style="text-align: center">
        <p> Categories</p>
    </div>
    <div class="categories-container">
        <button mat-flat-button class="custom-button" (click)="redirectToDogsCategory()">
            <img src="/assets/dog.png" alt="Image" class="centered-image">
        </button>
        <button mat-flat-button class="custom-button" (click)="redirectToCatsCategory()">
            <img src="/assets/cat.png" alt="Image" class="centered-image">
        </button>
        <button mat-flat-button class="custom-button" (click)="redirectToFishCategory()">
            <img src="/assets/fish.png" alt="Image" class="centered-image">
        </button>
        <button mat-flat-button class="custom-button" (click)="redirectToParrotCategory()">
            <img src="/assets/parrot.png" alt="Image" class="centered-image">
        </button>
        <button mat-flat-button class="custom-button" (click)="redirectToRodentCategory()">
            <img src="/assets/rodent.png" alt="Image" class="centered-image">
        </button>
        <button mat-flat-button class="custom-button" (click)="redirectToReptileCategories()">
            <img src="/assets/reptile.png" alt="Image" class="centered-image">
        </button>
    </div>
    <div class="searcher-filter-container">
        <mat-form-field appearance="outline">
            <mat-select placeholder="Filter By">
                <mat-option value="option">Option</mat-option>
            </mat-select>
            <mat-hint>By type</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Search...">
            <mat-hint>By name</mat-hint>
        </mat-form-field>
    </div>
    <div class="container-products">
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
    </div>

</div>
