<div class="invoice-container">
    <div style="text-align: center">
        FECHA
    </div>
    <div class="product-summary-container">
        <app-product-summary></app-product-summary>
        <app-product-summary></app-product-summary>
        <app-product-summary></app-product-summary>
        <app-product-summary></app-product-summary>
        <app-product-summary></app-product-summary>
    </div>
    <div style="text-align: center">
        SHIPPING INFORMATION
    </div>
    <div class="shipping-information-container">
       <app-shipping-data-component></app-shipping-data-component>
    </div>
    <div style="text-align: center">
        PAYMENT INFORMATION
    </div>
    <div class="shipping-information-container">
        <app-shipping-data-component></app-shipping-data-component>
    </div>

</div>
