<div class="input-container" >
    <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px">
        <mat-form-field appearance="outline">
            <mat-label>ZIP code</mat-label>
            <input matInput placeholder="text" [formControl]="zipCodeEntry" required>
            <mat-error *ngIf="zipCodeEntry.invalid">
                {{ getZipCodeErrorMessage() }}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>CVV</mat-label>
            <input matInput placeholder="text" [formControl]="cvvEntry" required>
            <mat-error *ngIf="cvvEntry.invalid">
                {{ getCVVErrorMessage() }}
            </mat-error>
        </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="text" [formControl]="emailEntry" required>
        <mat-error *ngIf="emailEntry.invalid">
            {{ getEmailErrorMessage() }}
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>NIT</mat-label>
        <input matInput placeholder="text" [formControl]="nitEntry" required>
        <mat-error *ngIf="nitEntry.invalid">
            {{ getNITErrorMessage() }}
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Card Number</mat-label>
        <input matInput placeholder="text" [formControl]="cardNumberEntry" required>
        <mat-error *ngIf="cardNumberEntry.invalid">
            {{ getCardNumberErrorMessage() }}
        </mat-error>
    </mat-form-field>
    <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px">
        <mat-form-field appearance="outline">
            <mat-label>Month</mat-label>
            <mat-select>
                <mat-option *ngFor="let month of months" [value]="month.value">{{ month.viewValue }}</mat-option>
            </mat-select>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Year</mat-label>
            <mat-select>
                <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
            </mat-select>
            <input matInput>
        </mat-form-field>
    </div>
</div>
