<div class="categories-container">
    <button mat-flat-button class="custom-button" (click)="redirectToDogsCategory()">
        <img src="/assets/dog.png" alt="Image" class="centered-image">
        Dogs
    </button>
    <button mat-flat-button class="custom-button" (click)="redirectToCatsCategory()">
        <img src="/assets/cat.png" alt="Image" class="centered-image">
        Cats
    </button>
    <button mat-flat-button class="custom-button" (click)="redirectToFishCategory()">
        <img src="/assets/fish.png" alt="Image" class="centered-image">
        Fishes
    </button>
    <button mat-flat-button class="custom-button" (click)="redirectToParrotCategory()">
        <img src="/assets/parrot.png" alt="Image" class="centered-image">
        Parrots
    </button>
    <button mat-flat-button class="custom-button" (click)="redirectToRodentCategory()">
        <img src="/assets/rodent.png" alt="Image" class="centered-image">
        Rodents
    </button>
    <button mat-flat-button class="custom-button" (click)="redirectToReptileCategories()">
        <img src="/assets/reptile.png" alt="Image" class="centered-image">
        Reptiles
    </button>
</div>
