<div class="container-info">

    <div class="image-container">
        <img src="{{image}}" alt="image">
    </div>

    <div class="info-container">

        <div class="big-letters">{{ title }}</div>
        <div class="double-container">
            <div class="big-letters">{{ price }}</div>
            <button class="category-button" (click)="redirectToCategoriesAndProducts()">{{animalCategory}}</button>
        </div>

        <div class="description">{{ description }}</div>

        <div class="double-container">
            <div class="subtitle">
                <div class="text-up">Provider:</div>
                <div class="text-down">{{provider}}</div>
            </div>

            <div class="subtitle">
                <div class="text-up">Brand:</div>
                <div class="text-down">{{brand}}</div>
            </div>
        </div>

        <div class="subtitle">
            <div class="text-up">Product Type:</div>
            <div class="text-down">{{productType}}</div>
        </div>

        <button class="add-Button" (click)="onClick()"> Add to Cart </button>

    </div>
</div>

<div class="container-products">
    <app-product-card *ngFor="let productId of productIds" [productId] = "productId"></app-product-card>
</div>
