<div class="shop-cart" style="background-color: white">
    <div style="display: grid; grid-gap: 1vw">
        <div>
            <pet-paradise-client-label-input-aside
            ></pet-paradise-client-label-input-aside>
        </div>

    </div>
    <div>
        <div style="display: grid; grid-gap: 20px" class="shop-list">
            <div *ngFor="let purchaseData of customerPurchases; let i = index">
                <pet-paradise-client-product-view-edition [purchase]="purchaseData" [productQuantity]="controllers[i]" (purchaseQuantityIrt)="onChildValueChanged($event)"></pet-paradise-client-product-view-edition>
            </div>
        </div>
    </div>


</div>
