<div class="shop-cart" style="background-color: white">
    <div style="display: grid; grid-gap: 1vw">
        <div>
            <pet-paradise-client-label-input-aside></pet-paradise-client-label-input-aside>
        </div>
        <mat-button-toggle>
            BUY
        </mat-button-toggle>
    </div>

    <div style="display: grid; grid-gap: 20px">
        <div class="shop-list" >
            <div *ngFor="let product of customerProducts">
                <pet-paradise-client-product-view-edition  [productName]="product.name" [productImage]="product.image" [productPrice]="(product.price - (product.price * product.discount / 100)).toString()"></pet-paradise-client-product-view-edition>
            </div>

        </div>
        <div>
            {{totalPrice}}$
        </div>
    </div>

</div>
