<div class="shop-cart" style="background-color: white">
    <div style="display: grid; grid-gap: 1vw">
        <div>
            <pet-paradise-client-label-input-aside></pet-paradise-client-label-input-aside>
        </div>
        <mat-button-toggle>
            BUY
        </mat-button-toggle>
    </div>

    <div style="display: grid; grid-gap: 20px">
        <div class="shop-list">
            <pet-paradise-client-product-view-edition></pet-paradise-client-product-view-edition>
            <pet-paradise-client-product-view-edition></pet-paradise-client-product-view-edition>
            <pet-paradise-client-product-view-edition></pet-paradise-client-product-view-edition>
            <pet-paradise-client-product-view-edition></pet-paradise-client-product-view-edition>
            <pet-paradise-client-product-view-edition></pet-paradise-client-product-view-edition>
            <pet-paradise-client-product-view-edition></pet-paradise-client-product-view-edition>
        </div>
        <div>
            Max Price
        </div>
    </div>

</div>
