body,
html {
  height: 100%;
  margin: 0;
}

.cent {
  width: 100%;
  height: 83.6%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #cce8f2;
}
