body,
html {
  min-height: 100%;
  margin: 0;
}

.content {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  place-items: center;
  justify-content: center;
}

.cent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #FAF7F1;
  flex: 1 1 auto;
  flex-grow: 1;
  overflow: auto;
  height: 0px;
}
