.home-page-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2vw;
  padding-bottom: 2vw;
  text-align: center;
}
.carousel {
  width: 100%;
  margin: auto;
}

.banner-image {
  width: 99vw;
  height: 20vw;
}

.text-subtitles{
  font-family: 'Quicksand-SemiBold', sans-serif;
  font-size: 3vw;
}

.carousel-item {
  padding: 0 10px; /* Agrega un pequeño espacio entre los elementos */
  box-sizing: border-box;
  width: 30vw; /* Ajusta el ancho deseado */
  flex: 0 0 auto; /* Evita que los elementos se expandan para ajustarse al contenedor */
}

@media only screen and (max-width: 740px) {
  .banner-image {
    width: 100vw;
    height: 20vw;
  }
}

@media only screen and (max-width: 360px) {
  .banner-image {
    width: 100vw;
    height: 30vw;
  }
  .text-subtitles{
    font-size: 4vw;
  }
  .home-page-container {
    grid-gap: 4vw;
    padding-bottom: 4vw;
  }
}
