.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;

  .nav-links {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2vw;
    place-items: center;

    button {
      margin: 5px;
      white-space: nowrap;
      color: #000000;
    }
    a {
      align-content: center;
    }
    .logo {
    }
  }

  @media screen and (max-width: 360px) {
    .nav-links {
      grid-template-columns: repeat(2, 1fr);

      button {
        margin: 5px 0;
      }
    }
  }
}
