<div class="about-us-container">
  <h2>About Us</h2>

  <div class="content-container">
    <div class="pet-container">
      <img class="pet-icon" src="../../assets/huella.png" alt="Image 0">
    </div>

    <div class="white-box">
      <div class="about-section">
        <div class="content">
          <p>
            Welcome to our e-commerce platform! We are passionate about providing high-quality products
            and an excellent shopping experience for our customers.
          </p>
        </div>
        <div class="cats-image">
          <img src="../../assets/cats.jpg" alt="Image 1">
        </div>
      </div>
  
      <div class="about-section">
        <div class="parrots-image">
          <img src="../../assets/parrots.jpg" alt="Image 2">
        </div>
        <div class="content">
          <p>
            Welcome to our e-commerce platform! We are passionate about providing high-quality products
            and an excellent shopping experience for our customers.
          </p>
        </div>
      </div>
  
      <div class="about-section">
        <div class="content">
          <p>
            Welcome to our e-commerce platform! We are passionate about providing high-quality products
            and an excellent shopping experience for our customers.
          </p>
        </div>
        <div class="puppies-image">
          <img src="../../assets/puppies.jpg" alt="Image 1">
        </div>
      </div>
    </div>
  </div>
</div>
