<mat-grid-list cols="4" class="product-view">
    <mat-grid-tile colspan="2" rowspan="2">
        <img class="logo" src="{{productImage}}" alt="image" width="115vw" height="115vw"/>
    </mat-grid-tile>
    <mat-grid-tile>
        {{productName}}
    </mat-grid-tile>
    <mat-grid-tile>
        {{productPrice}}
    </mat-grid-tile>
    <mat-grid-tile>
            <input type="number"
                   class="form-control"
                   matInput
                   placeholder="1" min="1" max="10">
    </mat-grid-tile>
    <mat-grid-tile style="justify-content: center">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>restore_from_trash</mat-icon>
        </button>
    </mat-grid-tile>

</mat-grid-list>
