<mat-grid-list cols="6" class="product-view" >
    <mat-grid-tile colspan="2" rowspan="3">
        <img class="image" src="{{productImage}}" alt="image"/>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        {{productName}}
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        {{productPrice}}$
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2" >
        <mat-form-field appearance="outline">
            <input matInput
                   [formControl]="productQuantity"
                   (input)="updatePurchaseQuantity()" required>
            <mat-error *ngIf="productQuantity.invalid">
                {{quantityValidation()}}
            </mat-error>
        </mat-form-field>

    </mat-grid-tile>
    <mat-grid-tile style="justify-content: center" colspan="2" rowspan="2">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="print()">
            <mat-icon>restore_from_trash</mat-icon>
        </button>
    </mat-grid-tile>

</mat-grid-list>