:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'kyiv*type serif';
}

body {
  margin: 0;
  padding-bottom: 5rem;
  font-family: 'kyiv*type serif';
}

.footer {
  left: 0;
  right: 0;
  padding: 2rem;
  background: #4a4a50;
  color: #ffffff;
  font-weight: 500;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 2fr));
  grid-gap: 1rem;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.2rem;
  text-align: center;
  margin-top: auto;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 1920px) {
  .footer {
    grid-template-columns: repeat(4, minmax(0, 2fr));
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
  }

  .footer a {
    margin: 5px 10px;
  }
}
