<div class="container">
    <div class="left">

        <img class="image-container" src="/assets/logo.png" alt="image"/>

        <label class="welcomeTitle">Welcome Back</label>

        <div class="textField-container" [ngClass]="{'error': email.invalid && (email.dirty || email.touched)}">
            <input type="text" class="textField-input" [ngClass]="{'error-text': email.invalid && (email.dirty || email.touched)}" placeholder="Email" [formControl]="email" required>
        </div>
        <label class="errorLabels" *ngIf="email.invalid && (email.dirty || email.touched)">{{ getErrorMessageEmail() }}</label>

        <div class="textField-container" [ngClass]="{'error': password.invalid && (password.dirty || password.touched)}">
            <div class="input-wrapper">
                <input type="{{ hide ? 'password' : 'text' }}" class="password-textField-input" placeholder="Password" [formControl]="password" required>
            </div>
            <div class="button-container">
                <button mat-icon-button (click)="hide = !hide" [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="hide" class="toggleButton">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </div>
        </div>

        <button class="log-in-Button"> Log In </button>
    </div>

    <div class="right">
        <div class="slogan">
            <img src="/assets/sloganPets.png" alt="Presentation Image">
        </div>
    </div>
</div>
